@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
    height: 100vh !important;
}

body {

    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);


    /* background: linear-gradient(to right, #d5d8d7, #d5d8d7); */
    font-family: 'Montserrat', sans-serif;
}


main {
    margin: 50px auto;
    text-align: center;
}

.header {
    position: relative;
    margin-bottom: 1 rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

table {
    margin: 50px auto;
    width: 100%;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid #000;
}

th,
td {
    padding: 10px;
}

.container {
    margin-top: 20px;

}

.btn-primary {
    /* width: 100%;
    background-color: #CDBE78 !important; */

    background-image: linear-gradient(135deg, #008aff, #86d472) !important;
    border-radius: 6px !important;
    box-sizing: border-box !important;
    color: #ffffff !important;
    display: block !important;
    height: 50px !important;
    font-size: 1.4em !important;
    font-weight: 600 !important;
    padding: 4px !important;
    position: relative !important;
    text-decoration: none !important;
    width: 7em !important;
    z-index: 2 !important;
    margin: auto;
}

.row {
    display: flex !important;
    flex-direction: column !important;
    width: auto !important;
    min-width: 74vw !important;
}

.panel-primary>.panel-heading {
    background-color: #000 !important;
}

.panel-primary {
    border-color: #337ab7 !important;
    max-width: 570px !important;
    margin-left: 15px;
}

.viewpage1 {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
}

.viewpage2 {
    display: flex;
    flex-direction: column;
    min-width: 60vw;
}

.container1 {
    width: 600px !important;
    margin: auto;
}